<aside class="sidebar">
    <div class="widget">
        <h3 class="widget-title">标签云</h3>
        <div class="tag-cloud">
            {% assign tags = site.tags | sort %}
            {% for tag in tags %}
            <a href="#" class="tag-link" data-tag="{{ tag[0] }}">
                {{ tag[0] }} ({{ tag[1].size }})
            </a>
            {% endfor %}
        </div>
    </div>
    
    <div class="widget">
        <h3 class="widget-title">最新文章</h3>
        <ul class="recent-posts">
            {% for post in site.posts limit:5 %}
            <li>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                <span class="post-date">{{ post.date | date: "%m/%d" }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</aside>